@use 'common.scss' as *;
@use 'sass:color';

$prefix: get-block-name(mcalendar);
$border: 1px solid var(--epd-title-bg);
$width: 14.2857%;
$timing: 0.15s ease-out;

@mixin bg-color($color) {
  border-color: $color;
  background-color: $color;
}

html.dark {
  .#{$prefix} {
    --epd-title-bg: #333;
    --epd-title-weekend-bg: #{color.scale(coral, $lightness: -10%)};
    --epd-cell-range-bg: #{color.scale(#333, $lightness: 5%)};
    --epd-cell-range-ends-bg: var(--epd-title-bg);
    --epd-cell-today-bg: #2c2f4a;
  }
}

.#{$prefix} {
  --epd-title-bg: #efefef;
  --epd-title-weekend-bg: coral;
  --epd-cell-range-bg: #e6eafd;
  --epd-cell-range-ends-bg: #b9c6ff;
  --epd-cell-today-bg: #f2faff;
  position: relative;
  color: var(--el-text-color-primary);

  &- {
    &title {
      flex-basis: $width;
      max-width: $width;
      padding: 10px 0;
      line-height: 1;
      text-align: center;
      background: var(--epd-title-bg);

      &.weekend {
        color: #fff;
        background: var(--epd-title-weekend-bg);
      }
    }

    &cell {
      // display: flex;
      // justify-content: center;
      // align-items: center;
      flex-basis: $width;
      max-width: $width;
      min-height: 100px;
      padding: 5px;
      border-bottom: $border;
      border-left: $border;
      word-break: break-all;
      transition:
        border-color $timing,
        background-color $timing;
      // font-size: 14px;

      &:nth-child(7n) {
        border-right: $border;
      }

      &.outer:not(.in-range) {
        color: #aaa;
      }

      &.in-range {
        @include bg-color(var(--epd-cell-range-bg));
      }

      &.range-start,
      &.range-end {
        @include bg-color(var(--epd-cell-range-ends-bg));
      }
    }

    &cell_today {
      background: var(--epd-cell-today-bg);
    }
  }
}
